<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <style>
        button {
            background-color: lightpink;
            border-radius: 10px;

        }
    </style>
</head>

<body>
    {% extends 'pybasic/base.html' %}
    {% block content %}
    <P>{{topic}}</P>
    <form action="{% url 'pybasic:comment' topic.id %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit">COMMENT</button>
    </form>
    {% endblock content %}
</body>

</html>