<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'pybasic/base.html' %}
    {% block content %}
    <p>{{topic}}</p>
    <form action="{% url 'pybasic:comment' topic.id %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input name='comment' type="hidden">
        <button name="submit">Add Comment</button>
    </form>
    {% endblock content%}
</body>

</html>